<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <h1 align="center">Edit Student Data</h1>
    <h4 align="center"><a href="/students">show all data</a></h4>
    <form action="/students/<%=detail_student[0].id%>/edit" method="post">
        <div align="center">
            <input type="hidden" name="id" value="<%=detail_student[0].id%>"><br>
            <label for="">First Name</label><br>
            <input type="text" name="first_name" value="<%=detail_student[0].first_name%>"><br><br>
            <label for="">Last Name</label><br>
            <input type="text" name="last_name" value="<%=detail_student[0].last_name%>"><br><br>
            <label for="">Email</label><br>
            <input type="text" name="email" value="<%=detail_student[0].email%>"><br><br>
            <label for="">Gender</label><br>
            <input type="text" name="gender" value="<%=detail_student[0].gender%>"><br><br>
            <label for="">Birth Date</label><br>
            <input type="text" name="birth_date" value="<%=detail_student[0].birth_date%>"><br><br>
            <button type="submit">Edit Student</button>
        </div>
    </form>
</body>
</html>
