<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Students Data</title>
</head>

<body>
    <div class="text-center">
        <h1>Students Data</h1>
        <table class="table table-bordered table-hover">
            <tr class="bg-primary">
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Birth Date</th>
            </tr>
            <% for(let i = 0; i<data.length; i++) { %>
            <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].first_name %></td>
                <td><%= data[i].last_name %></td>
                <td><%= data[i].email %></td>
                <td><%= data[i].gender %></td>
                <td><%= data[i].birth_date %></td>
            </tr>
            <% } %>
        </table>
    </div>

</body>

</html>