<html>
    <head>
        <title>Students</title>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;    
            }
        </style>
    </head>
    <body>
        <h4>Data Students</h4>
        <p style="text-align: center;"><a href="/students/add">Add student</a></p>
        <table>
            <tr>
                <th>first_name</th>
                <th>last_name</th>
                <th>email</th>
                <th>gender</th>
                <th>birth_date</th>
            </tr>
            <% for(let i=0; i<parsData.length; i++) { %>
                <tr>
                    <td><%= parsData[i].first_name %></td>
                    <td><%= parsData[i].last_name %></td>
                    <td><%= parsData[i].email %></td>
                    <td><%= parsData[i].gender %></td>
                    <td><%= parsData[i].birth_date %></td>
                </tr>
                
            <% } %>
        </table>
    </body>
</html>