<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School App</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h1>Students Data</h1>
  <table class="table">
    <thead >
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Birth Date</th>
      <th>Options</th>
    </thead>
    <tbody>
      <%for(let i = 0; i < students.length; i++){%>
        <tr>
          <td><%=students[i].id%></td>
          <td><%=students[i].first_name %></td>
          <td><%=students[i].last_name%></td>
          <td><%=students[i].email %></td>
          <td><%=students[i].gender %></td>
          <td><%=students[i].birth_date%></td>
        </tr>
          <%}%>
    </tbody>
  </table>
  <a href="/students/add" class="btn btn-primary">Add students</a>
</body>
</html>