<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teachers</title>
</head>
<body>
    <h1>Data Teachers</h1>    
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>FIRST NAME</td>
                <td>LAST NAME</td>
                <td>EMAIL</td>
                <td>GENDER</td>
            </tr>   
        </thead>
        <tbody>
            <%if(dataParse) {%>
                <%for(let i = 0; i < dataParse.length; i++) {%>
                    <tr>
                        <td><%= dataParse[i].id %></td>
                        <td><%= dataParse[i].first_name %></td>
                        <td><%= dataParse[i].last_name %></td>
                        <td><%= dataParse[i].email %></td>
                        <td><%= dataParse[i].gender %></td>
                    </tr>
                <%}%>
            <%}%>
        </tbody>
    </table>
</body>
</html>
