<%- include ('./partials/header')%>
<div class="container">
  <h3 class = 'text-center mt-3'>Teachers Data</h3>
  <table class="table table-bordered">
    <thead class = 'thead-dark'>
      <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>
    <% for(let teache of teacher) { %>
      <tr>
        <th scope="row"><%= teache.id %></th>
        <td><%= teache.first_name %></td>
        <td><%= teache.last_name %></td>
        <td><%= teache.email %></td>
        <td><%= teache.gender %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include ('./partials/footer')%>