<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers</title>
</head>
<body>
    <h1>Teachers Data</h1>
    <% if(list_teachers){ %>
        <table>
            <tr>
                <% for(let key in list_teachers[0]){ %>
                    <th><%= key %></th>    
                <% } %>
            </tr>
            <% list_teachers.forEach( list => { %>
                <tr>
                    <td><%= list.id %></td>
                    <td><%= list.first_name %></td>
                    <td><%= list.last_name %></td>
                    <td><%= list.email %></td>
                    <td><%= list.gender %></td>
                </tr>
            <% }) %>
        </table>
    <% } %>
</body>
</html>